<header id="main" class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">
                    <i class="fas fa-circle-nodes"></i> Error 404
                </h1>
                <h4 class="text-center">Página no encontrada</h4>
            </div>
        </div>
    </div>

</header>

<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a routerLink="/" class="btn btn-light btn-block">
                    <i class="fas fa-arrow-left"></i> Regresar al inicio
                </a>
            </div>

        </div>
    </div>
</section>
